<div class="login-page">
    <div class="form">
      <h2>Register</h2>
      <form class="login-form" #myForm="ngForm" (ngSubmit)="register()">
        <input [(ngModel)]="model.FullName" type="text" placeholder="Full name" name="FullName" />
        <input [(ngModel)]="model.Email" type="text" placeholder="Enter email" name="Email" />
        <input [(ngModel)]="model.Password" type="password" placeholder="Password" name="Password" />
        <input [(ngModel)]="confirmPassord" type="password" placeholder="Confirm password" name="confirmPassword" />
        <input [(ngModel)]="model.Address" type="text" placeholder="Address" name="Address" />
        <input [(ngModel)]="model.Phone" type="text" placeholder="Phone" prefix='+38' mask='(000) 000-00-00' name="PhoneNumber" />
        <button type="submit" class="btn btn-primary my-btn">Sign up</button>
        <p class="message">Registered? <a [routerLink]="['/sign-in']">Sign in</a></p>
      </form>
    </div>
  </div>